.main {
  width: 800px;
  margin: auto;
}

.main-photo {
  width: 500px;
  height: 333px;
  border: 5px solid black;
  margin: 20px 0 20px 0;
  object-fit: contain;
}

.main-photo img{
  height: 100%;
}

.btn-group {
  margin: 0px 90px;
  width: 600px;
}

  .btn {
  margin: 10px;
  padding: 2px 5px 2px 5px;
  float: left;
  width: 70px;
  border: 1px solid black;
  background-color: lightblue;
}

.btn:hover {
  cursor: pointer;
}