.main {
  height: 100%;
  max-width: 800px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-photo {
  width: 500px;
  height: 333px;
  border: 5px solid black;
  margin: 20px 0 20px 0;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: center;
  width: max-content;
}

.main-photo img{
  height: 100%;
}

.btn-group {
  margin: 0px 90px;
}

.btn {
  margin: 10px;
  padding: 2px 5px 2px 5px;
  float: left;
  width: 100px;
  border: 1px solid black;
  background-color: lightblue;
  text-align: center;
}

.btn:hover {
  cursor: pointer;
}